.header {
  padding: 1.5rem;
  box-shadow: 0px 0.188rem 1rem 0px rgb(0 0 0 / 10%);
}

.header > h4 {
  font-size: var(--huge-size);
  font-weight: 300;
  color: var(--blue-gray);
  margin-bottom: 0.75rem;
}

.header > h4 span {
  font-weight: 700;
  color: var(--red);
}
