.header {
  display: grid;
  grid-template-columns: 1fr 1fr 3.375rem;
  grid-template-rows: auto;
  grid-template-areas:
    'title title title'
    'search search filter';
  grid-gap: 0.75rem;
  position: sticky;
  top: 0;
  background: var(--white);
  padding: 1.5rem;
  box-shadow: 0px 0.188rem 1rem 0px rgb(0 0 0 / 10%);
  z-index: 10;
}

.header > h4 {
  grid-area: title;
  font-size: var(--huge-size);
  font-weight: 300;
  color: var(--blue-gray);
}

.header > h4 span {
  font-weight: 700;
  color: var(--red);
}

.header__search {
  grid-area: search;
}

.header_icon-button {
  grid-area: filter;
}
