.tag {
  padding: 0.25rem 1rem;
  border-radius: 1.563rem;
  font-size: var(--small-size);
  font-weight: 500;
}

.tag + .tag {
  margin-left: 0.5rem;
}

.tag--primary {
  background: var(--light-red);
  color: var(--red);
}

.tag--secondary {
  background: var(--light-blue-gray);
  color: var(--blue-gray);
}
