.characters-list {
  padding: 2rem;
}

.characters-list > h1 {
  color: var(--red);
  font-size: var(--mega-biggest-size);
  margin-bottom: 2rem;
}

.characters-list__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}

.characters-list__spinner,
.characters-list__error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.characters-list__error h2 {
  color: var(--red);
  font-size: var(--big-size);
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .characters-list__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .characters-list {
    padding: 1rem;
    padding-top: 2rem;
  }

  .characters-list__wrapper {
    grid-template-columns: 1fr;
  }
}
