.information-with-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.information-with-icon + .information-with-icon {
  margin-top: 1rem;
}

.information-with-icon > span {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
  font-size: 0.75rem;
  background: var(--light-red);
  border-radius: 1.563rem;
  margin-right: 0.75rem;
}

.information-with-icon__data {
  font-size: var(--large-size);
  color: var(--dark);
}

.information-with-icon__data > span {
  font-weight: 700;
}
