:root {
  /* Colors */
  --red: #ff452b;
  --orange: #ff5000;
  --white: #f7eff0;
  --blue-gray: #607d8b;
  --dark: #263238;
  --black: #000;
  --light-red: #fff8f7;
  --light-blue-gray: #eceff1;
  --light-gray: #fafafa;

  /* Fonts size */
  --little-size: 0.5rem;
  --small-size: 0.75rem;
  --medium-size: 0.875rem;
  --large-size: 1rem;
  --big-size: 1.125rem;
  --huge-size: 1.25rem;
  --biggest-size: 1.5rem;
  --ultra-biggest-size: 1.75rem;

  /* Borders */
  --white-border: 1px solid #eceff1;

  /* Shadows */
  --shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%),
    0px 1px 18px 0px rgb(0 0 0 / 12%);
  --light-shadow: 0px 4px 4px rgb(193 193 193 / 19%),
    0px -1px 4px -1px rgb(193 193 193 / 19%);
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
